singularity.pullTimeout = '4d'

params {
    // Trace
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    // Input/output options
    input = null
    intervals =  null
    outdir = "results"
    preprocessor = null
    somatic_variant_caller = null
    small_variant_caller = null
    // Options: "manta"
    structural_variant_caller = null
    // Options: "strelka,mutect,deepsomatic"
    deepsomatic_model_type = null // used for the deepsomatic models // Can be WGS,WES,PACBIO,ONT,FFPE_WGS,FFPE_WES,WGS_TUMOR_ONLY,PACBIO_TUMOR_ONLY,ONT_TUMOR_ONLY
    annotation_caller = null
    germline_resource = null
    germline_resource_tbi = null
    panel_of_normals = null
    panel_of_normals_tbi = null
    publish_dir_mode = "symlink"
    // SnpEff annotation option
    help = false
    genome = "GRCh38"
}


includeConfig 'conf/igenomes.config'
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    test_fastq {
        process {
            resourceLimits = [cpus: 4, memory: '15.GB', time: '2.h']
        }
        params {
            input = 'assets/samplesheet_fastq.csv'
            genome = 'test'
            small_variant_caller = "deepsomatic"
            deepsomatic_model_type = "WGS"
            annotation_caller = "vep,snpeff"
            structural_variant_caller = "manta"
            intervals = 's3://ngi-igenomes/test-data/sarek/S07604624_Padded_Agilent_SureSelectXT_allexons_V6_UTR.bed' 
        }
    }
    
    test_fastq_multi {
        params  {
            input = 'assets/samplesheet_fastq_multi.csv'
            genome = 'test'
            small_variant_caller = "strelka"
            structural_variant_caller = "manta"
            intervals = 's3://ngi-igenomes/test-data/sarek/S07604624_Padded_Agilent_SureSelectXT_allexons_V6_UTR.bed' 
        }
    }

    test_cram {
        params {
            input = 'assets/samplesheet_cram.csv'
            genome = 'test'
            small_variant_caller = "strelka"
            structural_variant_caller = "manta"
            intervals = 's3://ngi-igenomes/test-data/sarek/S07604624_Padded_Agilent_SureSelectXT_allexons_V6_UTR.bed' 
        }
    }
    
    test_cram_multi {
        params {
            input = 'assets/samplesheet_cram_multi.csv'
            genome = 'test'
            small_variant_caller = "strelka"
            structural_variant_caller = "manta"
            intervals = 's3://ngi-igenomes/test-data/sarek/S07604624_Padded_Agilent_SureSelectXT_allexons_V6_UTR.bed' 
        }
    }

}


manifest {
    name            = 'gianglabs/nf-somatic-short-read-variant-calling'
    contributors    = [
        [
            name: 'Giang Nguyen',
            affiliation: 'Giang Labs',
            email: 'nttg8100@gmail.com',
            github: '@nttg8100',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0001-5092-156X'
        ]
    ]
    homePage        = 'https://github.com/gianglabs/nf-somatic-short-read-variant-calling'
    description     = """An open-source analysis pipeline for somatic and germline short read variant calling"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.10.2'
    version         = '1.0.0'
}
