manifest {
    name            = 'gianglabs/nf-somatic-short-read-variant-calling'
    contributors    = [
        [
            name: 'Giang Nguyen',
            affiliation: 'Giang Labs',
            email: 'nttg8100@gmail.com',
            github: '@nttg8100',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0001-5092-156X'
        ]
    ]
    homePage        = 'https://github.com/gianglabs/nf-somatic-short-read-variant-calling'
    description     = """An open-source analysis pipeline for somatic short read variant calling"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.10.2'
    version         = '1.0.0'
}