// Load modules configuration
process {
    withName: BWAMEM2_INDEX {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/bwa2_index" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: SAMTOOLS_MERGE {
        publishDir = [enabled: true, path: { "${params.outdir}/alignment/${meta.id}" }, mode: params.publish_dir_mode, pattern: "*.{cram,crai}"]
    }

    withName: 'DEEPVARIANT|GATK_HAPLOTYPECALLER|FREEBAYES' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/variant_calling/small/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: TABIX_INDEX_VCF {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/variant_calling/structural/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'SNPEFF|VEP' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/variant_annotation/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'BCFTOOLS_STATS|BCFTOOLS_QUERY|BEDTOOLS_GENOMECOV' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/variant_alignment_qc/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }
}
