// Load modules configuration
process {
    withName: BWAMEM2_INDEX {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/bwa2_index" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: SAMTOOLS_MERGE {
        publishDir = [enabled: true, path: { "${params.outdir}/alignment/${meta.id}" }, mode: params.publish_dir_mode, pattern: "*.{cram,crai}"]
    }

    withName: 'GATK_MUTECT2|STRELKA|BCFTOOLS_FILTER_DEEPSOMATIC_VARIANTS' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/variant_calling/small/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'MANTA' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/variant_calling/structural/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'SNPEFF_ANNOTATE|VEP_ANNOTATE' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/variant_annotation/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'BCFTOOLS_STATS|BCFTOOLS_QUERY|BEDTOOLS_GENOMECOV|GATK_LEARNREADORIENTATIONMODEL' {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/variant_alignment_qc/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }
}
